<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/#/home">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3">EasyContracts.es</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/#/usuario">
          <i class="fas fa-user fa-tachometer-alt"></i>
          <span>Mi perfil</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Contratos
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/#/contrato">
          <i class="fas fa-plus fa-cog"></i>
          <span>nuevo contrato</span>
        </a>
      </li>
      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/#/misContratos" data-target="#collapseUtilities" aria-expanded="true"
          aria-controls="collapseUtilities">
          <i class="fas fa-file-contract"></i>
          <span>Mis contratos</span>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/#/nuevosContratos" data-target="#collapseUtilities">
          <i class="fas fa-file-signature"></i>
          <span>Gestionar nuevos contratos</span>
        </a>

      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Subscripciones
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/#/premium" data-target="#collapseUtilities">
          <i class="fas fa-fw fa-folder"></i>
          <span>Subscripcion Premium</span>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Alerts -->

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Usuario</span>
                <img class="img-profile rounded-circle"
                  src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fyoutopiadesigns.com%2Fwp-content%2Fuploads%2F2016%2F06%2Fuser_icon.png&f=1&nofb=1">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#/usuario">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Mi perfil
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#/register" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar sesión
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
          <h3>Edita tu perfil </h3>

          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-lg-3 control-label">Nombre </label>
              <div class="col-lg-8">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Apellidos</label>
              <div class="col-lg-8">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label"> Cartera de Bitcoin: </label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">Pais:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text">
              </div>
            </div>



            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input type="button" class="btn btn-primary" value="Guardar cambios">
                <span></span>
                <input onClick="window.location.reload();" type="reset" class="btn btn-danger ml-4"
                  value="Cancelar cambios">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Estás seguro de que quieres salir?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Selecciona "Desconectarse" para cerrar la sesión.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="login.html">Desconectarse</a>
          </div>
        </div>
      </div>
    </div>